html {
  display: flex;
  flex-direction: column;
  height: 100%;
}

body {
  flex: 1;
  background-image: linear-gradient(180deg, hsl(0, 22%, 41%), hsl(207, 41%, 73%) 100px, #ffffff);
}

.container {
  max-width: 960px;
}

textarea {
  height: 250px;
}
